/* Dark mode styles */

.switch-container {
  display: flex;
  z-index: 888;
  justify-content: flex-end;
position: absolute;
  align-items: center;
margin-right: 20px;
top: 0;
right: 0;
bottom: 0;
width: 100px;
height: 30px;

 color: red;

}

.switch-label {
  margin-left: 10px;
}

.switch-checkbox {
 
  position: relative;
  display: inline-block;
  width: 50px;
  height: 18px;
}

.switch-checkbox input {
  opacity: 1;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.switch-slider::before {
  margin-bottom: -2px;
 

  position: absolute;
  content: "";
  height: 15px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
  transform: translateX(0);
}


.switch-checkbox.checked .switch-slider {
  background-color: #2196f3;
}

.switch-checkbox.checked .switch-slider:before {
  transform: translateX(26px);
}

.dark-mode {
  /* Styles for the dark mode */

  color: white;

  box-shadow: inset 0 35px 13px rgba(14,12,22,.85);
  background: var(--color-black);
  background-size: 4000% 4000%;
  animation: gradient 15s ease infinite;
  height: 100%; 
  
  .btn{
    border-style: dotted;
    border-color: chocolate;
    --color-primary:#fff04d;
  }
  .btn:hover{
    background:var(--color-white);
    color: var(--color-bg);
  }
  --bg-gradient:linear-gradient(-45deg, #3e1f00, #081801, #010a1f, #160808);
  --color-bg-variant:linear-gradient(109.6deg, rgb(6, 8, 9) 11.2%, rgb(7, 21, 36) 51.2%, rgb(0, 0, 0) 98.6%);
    --color-primary-variant:rgba(189, 225, 7, 0.836);
    --color-white:#dee829;
    --color-bg: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    --color-black: linear-gradient(111.1deg, rgb(69, 10, 10) -4.8%, rgb(0, 15, 23) 82.7%, rgb(255, 89, 0) 97.2%);
    --color-light:rgba(255,255,255, 0.6);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


